
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root {
 --bg-accent: #E9EDE8;
 --bg-blue: #ECEDFF;
 --white: #ffff;
 --text: #001D3D;
 --blue: #0A5082;
 --lgblue: #0063AB;
 --accent: #5DA5D8;
 --add:rgb(10, 130, 36)  ;
 --txt: 'Inter', sans-serif;
 --title: 'Fjalla One', sans-serif;
}


body {
  margin: 0;
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

