
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root {
 --bg-accent: #E9EDE8;
 --bg-green: #DCF3D1;
 --white: #ffff;
 --text: #051000;
 --green: #143E00;
 --lggreen: #1D5D00;
 --accent: #6AAD4B;
 --txt: 'Inter', sans-serif;
 --title: 'Fjalla One', sans-serif;
}


body {
  margin: 0;
  box-sizing: border-box;
  min-width: 100vh;
  min-height: 100vw;
  overflow-x: hidden;
}

